/target/

# eclipse files
/.settings/
/.project
/.classpath
/.externalToolBuilders

# node
/node_modules/
/package-lock.json
/src/main/java/tmp/
/src/main/java/it/bz/noi/automated/data/quality/monitoring/tool/tester/

/davide/

/src_bak/
