# SPDX-FileCopyrightText: 2024 Catch Solve di Davide Montesin
#
# SPDX-License-Identifier: CC0-1.0

/target/
.env

# eclipse files
/.settings/
/.project
/.classpath
/.externalToolBuilders

# node
/node_modules/
/src/main/java/tmp/
/src/main/java/it/bz/noi/automated/data/quality/monitoring/tool/tester/

/davide/

/src_bak/
backend/.env-public
backend/.env-idm
job/.env-public
job/.env-idm
keycloak-accounts.json
