# SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

services:
  webapp:
    build:
      dockerfile: ./infrastructure/docker/webapp.dockerfile
      context: .
      target: build
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - ${WEBAPP_SERVER_PORT}:8080
    environment:
      JDBC_URL: ${WEBAPP_JDBC_URL}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/health/ready"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  job:
    build:
      dockerfile: ./infrastructure/docker/job.dockerfile
      context: .
      target: dev
    environment:
      DATABASE_URL: ${JOB_DATABASE_URL}
      KEYCLOAK_BASE_URL: ${JOB_KEYCLOAK_BASE_URL}
      METADATA_BASE_URL: ${JOB_METADATA_BASE_URL}
      DATASET_CONTENT_PAGE_LIMIT: ${JOB_DATASET_CONTENT_PAGE_LIMIT}
      LOG_LEVEL: ${JOB_LOG_LEVEL}
      KEYCLOAK_ACCOUNTS_JSON: /accounts.json
      CRON_SCHEDULE: ""
    depends_on:
      # since the webapp does DB migrations
      webapp:
        condition: service_healthy
    volumes:
      - ./keycloak-accounts.json:/accounts.json:ro
      
  postgres:
    restart: unless-stopped
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      # - ./database/database.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
