<?xml version="1.0" encoding="UTF-8"?>
<!-- * (C) 2024 Catch Solve di Davide Montesin * License: AGPL -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>aanoi-automated-data-quality-monitoring-tool_my</display-name>
	<display-name>aanoi-automated-data-quality-monitoring-tool_my</display-name>
	<servlet>
		<servlet-name>APIServlet</servlet-name>
		<servlet-class>it.bz.noi.automated.data.quality.monitoring.tool.APIServlet</servlet-class>
		<init-param>
			<param-name>apiClass</param-name>
			<param-value>it.bz.noi.automated.data.quality.monitoring.tool.API</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>APIServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
</web-app>