# SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

/node_modules/
/target/
/src/main/java/tmp/
/tsc+parcel.sh
/.vscode/
davide-tmp/
target/

/.parcel-cache/

